<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <% if(locals.fName && locals.lName) { %>
    <h1>First Name: <%= fName %></h1>
    <h1>Last Name: <%= lName %></h1>
    <h1>Total Letters: <%= fName.length + lName.length %></h1>
  <% }  else { %> <h1>Enter your name here</h1>    <%}%>
  <!-- Write your code here -->
  <form action="/submit" method="POST">
    <input type="text" name="fName" placeholder="First name">
    <input type="text" name="lName" placeholder="Last name">
    <input type="submit" value="OK">
  </form>
</body>

</html>