<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('header.ejs')%>
  <div class="container text-center">
    <div class="row featurette">
      <div class="col-md-7 my-5">
        <h2 class="featurette-heading fw-normal lh-1">Welcome to my beautiful blog</h2>
        <p class="lead">Let's unwind the your creative side and share your thoughts with the world. 
          This blog is a space for you to express yourself, share your ideas, and connect with others. 
          Whether you're a seasoned writer or just starting out, this platform is designed to help you showcase your creativity and engage with a community of like-minded individuals.
        </p>
      </div>
      <div class="col-md-5">
        <img src="unsplash-photo-2.jpg" class="img-fluid" alt="Placeholder image for first featurette"
          style="width: 500px; height: 500px;">
      </img>
      </div>
    </div>
  </div>
</body>

</html>